*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("wall.jpg");
}

h1, h2, h3, h4, h5, h6{
    color: palegreen;    
}

.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered2 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }